.modalOpened { overflow: hidden;}
.pagnatura-modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	display: none;
	.rgba(#000000, 0.7);
	.pagnatura-modal-box {
		background-color: @white;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		.size(960px, 475px);
		.btn-close {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
		}
	}
}