.card-item&.leitor{
	.card-text{
		text-align: center;
	}
	.card-details-1{
		width: 415px;
		height: 180px;
		float: left;
		background: #f9f9f9;
		border: 2px solid #dadada;
		margin-top: 30px;
		overflow: hidden;
		.card-details-icon-holder{
			float: left;
			margin-top: 17px;
			margin-right: 20px;
			height: 132px;
			margin-left: -10px;
		}
		.card-details-text{
			margin-top: 45px;
			font-family: @mainFontBold;
		}
		.spacer{
			border: 1px dashed #b0b1b2;
			margin-right: 30px;
		}
		.card-details-info{
			font-family: @mainFontBold;
			.pontos-natura{
				font-family: @mainFont;
				margin-top: 5px;
				display: block;
			}
		}
		.btn-compre-agora{
			margin-top: 10px;
		}
	}
	.card-details-2{
		width: 415px;
		height: 150px;
		margin-left: 37px;
		float: left;
		.card-details-icon-holder{
			float: left;
			margin-top: 55px;
			margin-right: 20px;
			height: 60px;
		}
		.card-details-text{
			margin-top: 18px;
			.btn-cards-orange{
				margin-top: 13px;
				display: block;
			}
		}
	}
	.card-details-3{
		margin-top: 35px;
		height: 110px;
		width: 870px;
		float: left;
		border-top: 1px solid #cacbcc;
		border-bottom: 1px solid #cacbcc;
			.card-details-icon-holder{
				float: left;
				margin-top: 22px;
				margin-right: 7px;
				height: 110px;
			}
		.card-details-text{
			margin-top: 36px;
			.bold{
				font-family: @mainFontBold;
			}
			.bullet-orange{
				color: @orange;
			}
		}
	}
}