.pagnatura-faixa{
	background-color: #a51d11;
	color: #ffffff;	
	font-family: @mainFont;
}
.pagnatura-faixa-wrapper .title{
	font-family: @mainFontBold;
	font-size: 32px;
	line-height: 32px;
	color: #ffffff;
}
.pagnatura-faixa-wrapper .text-leitor{
	font-size: 20px;
	line-height: 22px;
}
.pagnatura-faixa-wrapper .pagnatura-cloud {
	width: 267px;
	height: 32px;
	background-color: #f76c03;
	border-radius: 10px;
}
.pagnatura-faixa-wrapper .pagnatura-cloud a{
	font-size: 14px;
	line-height: 32px;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: 0 auto;
}