.list-of-cards {
	overflow: hidden;
}
.pagnatura-cards{
	display: block;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 110px;
	margin-bottom: 50px;
	.transition(all 1000ms linear);
}
.pagnatura-cards .card-wrapper{
	.box-shadow(5px 5px 15px #9d9d9d);
	width: 314px;
	height: 162px;
	float: left;
	background-color: @white;
	position: relative;
	padding-top: 46px;
	margin: 6px 6px;
	border-bottom: 2px solid @red_light;
	font-size: 20px;
	font-family: @mainFontBold;
}
.pagnatura-cards .card-wrapper .card-icon{

}
.pagnatura-cards .card-wrapper .card-icon-holder{
	float: left;
	margin: 27px 28px 0 22px;
	display: block;
	height: 93px;
}
.pagnatura-cards .card-wrapper .card-icon-holder .icon-gray-pagamentos{

}
.pagnatura-cards .card-wrapper .btn-card-saiba-mais{
	color: @red_light;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @mainFont;
	font-size: 12px;
	float: right;
} 
.pagnatura-cards .card-wrapper .card-title{
}
.pagnatura-cards .card-wrapper .card-text{
	font-family: @mainFont;
	font-size: 16px;
	line-height: 20px;	
}
.pagnatura-cards .card-wrapper .spacer{
	border-style: dashed;
	border-color: @gray_light;
	margin-right: 45px;

}
.pagnatura-cards .card-wrapper .btn-card-saiba-mais{
	display: block;
	line-height: 43px;
}
.pagnatura-cards .card-wrapper .saiba-mais-holder{
	position: absolute;
	right: -2px;
	bottom: -2px;
}
.pagnatura-cards .card-wrapper .saiba-mais-holder .icon-red-saiba-mais{
	float: right
}