.pagnatura-header-wrapper{
	width: 980px;
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	padding-top: 220px;
	letter-spacing: 0px;
}
.pagnatura-header{
	position: relative;
}
.pagnatura-header-wrapper .header-title{
	color: @gray_dark;
	font-family: @mainFontBold;
	font-size: 54px;
}
.pagnatura-header-wrapper .header-title .leitor{
	color: @red_light;
	font-family: @mainFont;
	font-size: 40px;
	margin-left: 40px;
}
.pagnatura-header-wrapper .header-title .mini-divider{
	position: relative;
	top: 10px;
	left: 20px;	
}
.pagnatura-header-wrapper .header-intro{
	color: @gray_light;
	font-family: @mainFont;
	font-size: 20px;
	margin-top: 20px;
}
.pagnatura-header-wrapper .bold{
	font-family: @mainFontBold;
}
.pagnatura-header-wrapper .beneficios-title{
	font-family: @mainFontBold;
	color: @red_light;
	font-size: 18px;
	margin-top: 29px
}
.pagnatura-header-wrapper .pagnatura-header .spacer{
	border-style: dashed;
	border-color: @red_light;
	margin-right: 252px;
	width: 730px;
}
.pagnatura-header-wrapper .leitor-pag-natura{
	position: absolute;
	right: -20px;
	top: 260px;
}
.pagnatura-header-wrapper .icon-beneficios-2x{
	margin-top: 5px;
}
.pagnatura-header-wrapper .icon-beneficios-2x,
.pagnatura-header-wrapper .icon-beneficios-pagamento,
.pagnatura-header-wrapper .icon-beneficios-vendas,
.pagnatura-header-wrapper .icon-beneficios-leitor,
.pagnatura-header-wrapper .icon-beneficios-clientes{
	display: block;
	margin: 0 auto;
}

.pagnatura-header-wrapper .beneficios-list{
	color: @gray_dark;
	font-family: @mainFont;
	font-size: 15px;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 4px;
	list-style-type: none;
}
.pagnatura-header-wrapper .beneficios-list .list-itens{
	display: inline-block;
	text-align: center;
	margin-right: 16px;
}
.pagnatura-header-wrapper .beneficios-list .list-itens .beneficios-text{
	margin-top: 5px;
}
