.pagnatura-cards{
	display: block;
	width: 100%;
	height: 700px;
	margin-top: 186px;
}
.pagnatura-cards .card-wrapper{
	width: 318px;
	height: 162px;
	float: left;
	background-color: #fff;
	padding-top: 46px;
	border-bottom: 1px solid @red_light;
	font-size: 20px;
	font-family: @mainFontBold;
}
.pagnatura-cards .card-wrapper .card-icon{

}
.pagnatura-cards .card-wrapper .card-icon-holder{
	float: left;
	margin: 27px 37px 0 22px;
	display: block;
	height: 93px;
}
.pagnatura-cards .card-wrapper .btn-card-saiba-mais{
	color: @red_light;
	text-decoration: none;
	text-transform: uppercase;
	font-family: @mainFont;
	font-size: 12px;
	float: right;
} 
.pagnatura-cards .card-wrapper .card-title{
}
.pagnatura-cards .card-wrapper .card-text{
	font-family: @mainFont;
	font-size: 18px;
}
.pagnatura-cards .card-wrapper .btn-card-saiba-mais{

}
.pagnatura-cards .card-wrapper .spacer{
	border-style: dashed;
	border-color: @gray_light;
}