{{#if partials}}
{{> head}}
{{> header}}
{{/if}}

<link rel="stylesheet" href="css/aplicativo.css">

<!-- bibliotecas js -->
<script src="{{baseUrl}}/js/vendor.min.js"></script>
<!-- // bibliotecas js -->
<section id="aplicativo-page">

	<!-- Header wrapper -->
	<section class="pagnatura-header-wrapper">
		
		<!-- Aplicativo Header  -->				
		<section class="pagnatura-header-content">		

			<!-- Aplicativo Header info  -->
			<section class="pagnatura-header">
				<h1 class="header-title">
					Aplicativo <br>
					Pedidos Natura
				</h1>
				<p class="header-intro">
					O Pedidos Natura é um aplicativo que facilita seus negócios, <br>
					possibilitando fazer o pedido Natura do seu celular ou tablet <br>
					a qualquer hora e em qualquer lugar. 
				</p>
				<div class="label-shadow"></div>
				<section class="voce-conecta-label-holder">
					<a data-ga="voce-conecta|header|seta" href="#" class="text">Você_Conect@</a>
					<section class="label-vc-conecta">
						<span class="text-hover">Entenda o</span>
					</section>
				</section>
				<section class="pagnatura-maquina"></section>
			</section>

			<!-- Aplicativo Img -->
			<div class="chip-main-info-holder">
				<img class="leitor-pag-natura" src="{{baseUrl}}/img/app.png" alt="Chip Você_Conect@">
			</div>

			<!-- Benefícios -->
			<section class="pagnatura-beneficios">
				<h2 class="beneficios-title">
					Confira as vantagens abaixo
				</h2>
					<hr class="spacer">
				<ul class="beneficios-list">
					<li class="list-itens">
						<i class="icon-beneficios-comodidade"></i>
						<p class="beneficios-text">
							<span class="bold">Comodidade:</span><br>
							fazer pedidos <br>
							direto do celular <br>
							ou tablet. 
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-agilidade"></i>
						<p class="beneficios-text">
							<span class="bold">Agilidade:</span><br>
							Envio de pedidos <br>
							de última hora
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-seguranca"></i>
						<p class="beneficios-text">
							<span class="bold">Segurança:</span><br>
							consultar histórico <br>
							de pedidos e <br>
							informações salvas, <br>
							tanto no site como <br>
							no aplicativo. 
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-mais-tempo"></i>
						<p class="beneficios-text">
							<span class="bold">Mais tempo</span><br>
							para cuidar <br>
							dos seus <br>
							clientes
						</p>
					</li>
				</ul>
				<p class="btn-saiba-mais">
					<a data-ga="voce-conecta|header|saiba-mais" href="#" class="btn-link">Saiba mais sobre o Aplicativo</a>
				</p>
			</section>	
			
			<!-- Aplicativo benefícios content -->
			<section class="app-content">
				<section class="app-header">
					<h2 class="app-title">
						Veja o que você pode fazer com o novo aplicativo da Natura:
					</h2>
					<div class="orange-circle">
						<p class="circle-text">
							Clique aqui <br>
							e veja como <br>
							fazer um <br>
							pedido <br>
							<i class="icon-arrow-down"></i>
						</p>
					</div>
					<section class="app-beneficios-holder">
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-pedido"></i>
							<p class="app-beneficios-text">
								Passar um Pedido <br>
								Natura
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-ultimos-pedidos"></i>
							<p class="app-beneficios-text">
								Visualizar os últimos <br>
								pedidos
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-consulta-extrato"></i>
							<p class="app-beneficios-text">
								Salvar rascunhos
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-brindes"></i>
							<p class="app-beneficios-text">
								Visualizar brindes
								conquistados
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-extrato"></i>
							<p class="app-beneficios-text">
								Visualizar as Promoções <br>
								do Ciclo
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-visualizar"></i>
							<p class="app-beneficios-text">
								Buscar através do código <br>
								ou nome do produto
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-troca-pontos"></i>
							<p class="app-beneficios-text">
								Pagar com boleto, boleto <br>
								parcelado ou cartão de <br>
								crédito
							</p>
						</article>
						<article class="app-beneficios">
							<i class="icon-app-holder icon-aplicativo-pedido-final"></i>
							<p class="app-beneficios-text">
								Conferir o <br>
								pedido final
							</p>
						</article>
					</section>
				</section>
				<section class="app-middle">
					<h2 class="middle-title">
						Disponível nas versões Android e IOS.
					</h2>
					<p class="middle-text">
						Vá até a loja do seu celular e busque por "Pedidos Natura". O download é gratuito! <br>
						Se preferir assista ao vídeo e veja como fazer o download do aplicativo Pedidos Natura.
					</p>
					<section class="middle-btns">
						<p class="btn-compre-agora">
							<a class="btn-link">Assistir Vídeo</a>
						</p>
						<p class="btn-app-lojas">
							<a href="#" class="btn-google-play"></a>
							<a href="#" class="btn-apple-store"></a>
						</p>
					</section>
				</section>
				<section class="app-footer">
					<section class="app-footer-holder">
						<p class="footer-text">
							Para efetuar o login no aplicativo, lembre-se de usar o mesmo login e senha <br>
							do site Consultoria. Caso tenha esquecido sua senha, <a href="" class="link">clique aqui</a>.
						</p>
						<br>
						<p class="footer-text">
							<span class="bold">IMPORTANTE:</span>
							certifique-se que você possui conexão WiFi ou 3G/4G no celular.
						</p>
					</section>
				</section>
			</section>

		</section>
	</section>
	
	<!-- Footer -->
	<section class="pagnatura-footer-wrapper">
		<section class="pagnatura-footer-content">
			
		<!-- Dúvidas -->
		<section class="pagnatura-duvidas">
			<section class="duvidas-holder">
				<div class="holder-icon-red-duvida">
					<i class="icon-red-duvida"></i>
				</div>
				<h2 class="duvidas-title">Dúvidas</h2>
				<p class="btn-saiba-mais">
					<a data-ga="voce-conecta|corpo|duvidas" class="btn-link" href="http://autoatendimento.natura.com.br/autoatendimento" target="_blank">Clique aqui</a>
				</p>
				<p class="duvidas-text italic">
					Tire suas dúvidas sobre o leitor com o autoatendimento da Natura.
				</p>
			</section>
		</section>

			<!-- Mais informações -->
			<section class="pagnatura-mais-info">

				<!-- Veja também -->
				<section class="veja-tambem">
					<div class="veja-tambem-divider"></div>
					<h3 class="veja-tambem-title">Veja também</h3>
					<p class="veja-tambem-text">
						Conheça as outras ferramentas <br>
						que a Natura disponibiliza para <br>
						facilitar sua atividade de <br>
						Consultoria e aproximar você <br>
						cada vez mais de seus clientes.
					</p>
				</section>

				<!-- Chip Natura -->
				<article class="mais-info-box">
					<div class="box-app-pedidos"></div>
					<h2 class="mais-info-title">Chip Natura</h2>
					<p class="mais-info-text">				
						Uma parceria especial com a Claro para deixar você conectado(a) o dia todo: esse chip de celular dá acesso a promoções e vantagens exclusivas para agilizar seu dia a dia de Consultor(a) Natura. 
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="#">Saiba mais</a>
					</p>
				</article>

				<!-- PagSeguro -->
				<article class="mais-info-box">
					<div class="box-chip-leitor"></div>
					<h2 class="mais-info-title">PagSeguro</h2>
					<p class="mais-info-text">				
						Em parceira com o PagSeguro, a Natura disponibiliza o Leitor de Cartões. Receba pagamentos em débito e crédito de forma rápida e segura, com a ajuda do seu celular ou tablet. 
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="#">Saiba mais</a>
					</p>
				</article>

			</section>

		</section>
	</section>
	
	<!-- Modal vídeo -->
	<section id="pn-modal1" class="pagnatura-modal">
		<div class="pagnatura-modal-box">
			<div class="icon-close-tr-right btn-close"></div>
			<div class="modal-holder">
				<div class="media-holder-video" data-name="video1"></div>
			</div>
		</div>
	</section>
	<section id="pn-modal2" class="pagnatura-modal">
		<div class="pagnatura-modal-box">
			<div class="icon-close-tr-right btn-close"></div>
			<div class="modal-holder">
				<div class="media-holder-video" data-name="video2"></div>
			</div>
		</div>
	</section>

</section>

<!-- scrips da aplicacao -->
<script type="text/javascript">
$(document).ready(function($) {
	loadjs('{{baseUrl}}/js/main{{ext}}.js');
});
</script>
<!-- // scrips da aplicacao -->

{{#if partials}}
{{> footer}}
{{> foot}}
{{/if}}