{{#if partials}}
{{> head}}
{{> header}}
{{/if}}

<link rel="stylesheet" href="css/chip.css">

<!-- bibliotecas js -->
<script src="{{baseUrl}}/js/vendor.min.js"></script>
<!-- // bibliotecas js -->
<section id="chip-page">

	<!-- Header wrapper -->
	<section class="pagnatura-header-wrapper">
		
		<!-- Chip Header  -->				
		<section class="pagnatura-header-content">		

			<!-- Chip header info  -->				
			<section class="pagnatura-header">
				<h1 class="header-title">Chip Natura Pré</h1>
				<p class="header-intro">
					Chip Natura Pré é uma novidade em parceria com a Claro que vai agilizar a sua <br>
					atividade de Consultoria Natura, trazendo mais facilidade e rapidez para sua vida.<br>
					<a class="link-leia-mais">Leia mais sobre portabilidade</a>
				</p>
				<p class="header-intro">
					Confira abaixo as oportunidades que só <br>
					o Chip Natura Pré pode oferecer:
				</p>
				<div class="label-shadow"></div>
				<section class="voce-conecta-label-holder">
					<a data-ga="voce-conecta|header|seta" href="#" class="text">Você_Conect@</a>
					<section class="label-vc-conecta">
						<span class="text-hover">Entenda o</span>
					</section>
				</section>
			</section>

			<!-- Benefícios -->
			<section class="pagnatura-beneficios">
				<h2 class="beneficios-title">
					Conheça os benefícios
				</h2>
				<hr class="spacer">

				<ul class="beneficios-list">
					<li class="list-itens">
						<i class="icon-beneficios-chamadas"></i>
						<p class="beneficios-text">
							Você pode fazer até <br>
							500 chamadas para <br>
							Claro de todo <br>
							o Brasil.
  					</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-torpedos"></i>
						<p class="beneficios-text">
							Você também <br> 
							tem 500 torpedos <br> 
							para qualquer <br> 
							operadora. São <br> 
							16 mensagens <br> 
							por dia!
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-site"></i>
						<p class="beneficios-text">
							Todo o conteúdo <br>
							da Natura para <br>
							você acessar <br>
							quando quiser. <br>
							É ilimitado.
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-aplicativo"></i>
						<p class="beneficios-text">
							Acesso <br>
							ilimitado <br>
							ao aplicativo <br>
							Pedidos <br>
							Natura.*
						</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-promocoes"></i>
						<p class="beneficios-text">
							Acesso a <br>
							promoções <br>
							exclusivas para CNs <br>
							que fizerem a <br>
							adesão.</p>
					</li>
				</ul>
				
				<section class="beneficios-footer">
					<p class="btn-saiba-mais">
						<a data-ga="voce-conecta|header|saiba-mais" href="#" class="btn-link">Saiba mais sobre o chip</a>
					</p>
					<p class="btn-compre-agora">
						<a data-ga="voce-conecta|header|compre-agora" href="#" class="btn-link">Adquirir Chip</a>					
					</p>
					<p class="beneficios-obs">
						* Acesso ilimitado ao site www.natura.com.br <br>
						e aos aplicativos PagNatura e Pedidos Natura.
					</p>
				</section>

			</section>		

			<!-- Chip área -->
			<section class="chip-main-info-holder">
				<img class="leitor-pag-natura" src="{{baseUrl}}/img/chip-big.png" alt="Chip Você_Conect@">
				<section class="text-chip-info-holder">
					<p class="text-chip-info">
						Todos esses benefícios <br>
						por apenas R$15
					</p>
					<hr class="chip-info-spacer">
					<div class="orange-circle">
						<p class="circle-text">
							Faça sua <br> Recarga<br> aqui <br>
							<i class="icon-arrow-down"></i>
						</p>
					</div>
				</section>
			</section>	

		</section>

		<!-- Cards área -->
		<section class="pagnatura-cards">
			
			<!-- Cards -->
			<div class="list-of-cards">

				<!-- Adquirir um chip -->
				<article class="card-wrapper">
					<section data-href="Adquirir um chip" class="card-content adiquirir-chip">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-chip"></i>
						</section>
						<h2 class="card-title">Adquirir um chip</h2>
						<hr class="spacer">
						<p class="card-text">
							Compre o chip e faça a <br>
							recarga mensal mínima para <br>
							ativar o pacote Natura.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>
				
				<!-- Como habilitar -->
				<article class="card-wrapper">
					<section data-href="Como habilitar" class="card-content como-habilitar">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-chip-habilitar"></i>
						</section>
						<h2 class="card-title">Como habilitar</h2>
						<hr class="spacer">
						<p class="card-text">
							Clique aqui e veja como <br>
							começar a usar o seu chip <br>
							Natura Pré em 5 passos.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>
			
				<!-- Como recarregar -->		
				<article class="card-wrapper">
					<section data-href="Como recarregar" class="card-content como-recarregar">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-como-carregar"></i>
						</section>
						<h2 class="card-title">Como recarregar</h2>
						<hr class="spacer">
						<p class="card-text">
							Recarregue aqui no site, <br>
							de forma rápida, e garanta <br>
							vantagens.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>

			</div>

			<!-- Cards Holder -->
			<div class="card-det">
				<div class="icon-close-tr-right btn-close"></div>

				<!-- Navigation -->
				<header class="card-header">
					<div class="btn-arrow left icon-stepback"></div>
					<div class="btn-arrow right icon-stepnext"></div>

					<div class="nav-label left">
						<!-- Fill via JS -->
					</div>

					<div class="nav-label right">
						<!-- Fill via JS -->
					</div>

					<div class="hd-content">
						titulo da sessao
					</div>
				</header>

				<!-- Card View -->
				<div class="card-det-viewport">
					<div class="card-det-wrap">

						<!-- Adquirir um chip -->
						<div class="card-item adiquirir-chip" data-title="Adquirir um chip" data-pgsize="420" data-tittrack="adiquirir-chip">
						<article class="card-content">
							<p class="card-text">
								A Natura e o Pagseguro prepararam a melhor oferta do mercado para você! Adquira o leitor, baixe o aplicativo PagNatura e comece<br>
								a usar. É sem mensalidade. 
							</p>
						</article>
						</div>

						<!-- Como habilitar -->
						<div class="card-item como-habilitar" data-title="Como habilitar" data-pgsize="540" data-tittrack="como-habilitar">
						<article class="card-content">
							<p class="card-text">
								Já está com o seu Chip Natura? Siga os 4 passos a seguir para começar a usar e ter todas as vantagens:				
							</p>
							<ol class="cdp-list-steps type-2">
								<li class="cdp-step">
									<div class="cdp-img">
										<span class="num">1</span>
										<i class="icon-chip-claro"></i>
									</div>
									<p class="text">
										Insira seu Chip <br>
										Natura Pré no celular <br>
										e ligue o aparelho.
									</p>
								</li>
								<li class="cdp-step">
									<div class="cdp-img">
										<span class="num">2</span>
										<i class="icon-chip-informacoes"></i>
									</div>
									<p class="text">
										Após seguir o passo a passo de <br>
										ativação na tela do seu celular e <br>
										receber seu número via SMS, ligue <br>
										para *552 e tenha em mãos seu CPF <br>
										para fazer o cadastro. 
									</p>
								</li>
								<li class="cdp-step">
									<div class="cdp-img">
										<span class="num">3</span>
										<i class="icon-chip-chamada"></i>
									</div>
									<p class="text">
										Realize a primeira recarga, <br>
										garanta um saldo mínimo de R$ <br>
										15 e aguarde o SMS de <br>
										confirmação da ativação dos <br>
										seus benefícios, que acontecerá <br>
										em até 2 horas. Atualize seu <br>
										novo número no cadastro do <br>
										site Consultoria.  
									</p>
								</li>
								<li class="cdp-step last">
									<div class="cdp-img">
										<span class="num">4</span>
										<i class="icon-chip-promocao"></i>
									</div>
									<p class="text">
									Importante: as promoções exclusivas Natura estarão disponíveis apenas após a atualização cadastral. 
									</p>
								</li>
							</ol>
						</article>
						</div>

						<!-- Como recarregar -->
						<div class="card-item como-carregar" data-title="Como recarregar" data-pgsize="560" data-tittrack="como-carregar">
							<article class="card-content">
								<p class="card-text">
									A Natura e o Pagseguro prepararam a melhor oferta do mercado para você! Adquira o leitor, baixe o aplicativo PagNatura e comece<br>
									a usar. É sem mensalidade. 
								</p>
							</article>
						
						</div>

					</div>
				</div>

				<!-- Bullets -->
				<footer class="card-footer">
					<p class="bulets">
						<span class="bulet actived"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
					</p>
				</footer>
			</div>
				
			

		</section>			
	</section>

	<!-- Footer -->
	<section class="pagnatura-footer-wrapper">
		<section class="pagnatura-footer-content">
			
			<!-- Dúvidas -->
			<section class="pagnatura-duvidas">
				<section class="duvidas-holder">
					<div class="holder-icon-red-duvida">
						<i class="icon-red-duvida"></i>
					</div>
					<h2 class="duvidas-title">Dúvidas</h2>
					<p class="btn-saiba-mais">
						<a data-ga="voce-conecta|corpo|duvidas" class="btn-link" href="http://autoatendimento.natura.com.br/autoatendimento" target="_blank">Clique aqui</a>
					</p>
					<p class="duvidas-text italic">
						Tire suas dúvidas sobre o leitor com o autoatendimento da Natura.
					</p>
				</section>
			</section>

			<!-- Mais informações -->
			<section class="pagnatura-mais-info">

				<!-- Veja também -->
				<section class="veja-tambem">
					<div class="veja-tambem-divider"></div>
					<h3 class="veja-tambem-title">Veja também</h3>
					<p class="veja-tambem-text">
						Conheça as outras ferramentas <br>
						que a Natura disponibiliza para <br>
						facilitar sua atividade de <br>
						Consultoria e aproximar você <br>
						cada vez mais de seus clientes.
					</p>
				</section>

				<!-- App Pedidos Natura -->
				<article class="mais-info-box">
					<div class="box-app-pedidos"></div>
					<h2 class="mais-info-title">Aplicativo Pedidos Natura</h2>
					<p class="mais-info-text">				
						Faça e organize seus pedidos direto 
						no seu celular ou tablet. Você pode 
						acessar o Aplicativo Pedidos Natura 
						a qualquer hora e em qualquer lugar.
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="/aplicativo.html">Saiba mais</a>
					</p>
				</article>

				<!-- PagSeguro -->
				<article class="mais-info-box">
					<div class="box-chip-leitor"></div>
					<h2 class="mais-info-title">PagNatura</h2>
					<p class="mais-info-text">				
						Em parceria com o PagSeguro, a 
						Natura disponibiliza o Leitor de 
						Cartões. Receba pagamentos em 
						débito e crédito de forma rápida e 
						segura, com a ajuda do seu celular 
						ou tablet.
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="/pagnatura.html">Saiba mais</a>
					</p>
				</article>

			</section>

		</section>
	</section>

</section>

<!-- scrips da aplicacao -->
<script type="text/javascript">
$(document).ready(function($) {
	loadjs('{{baseUrl}}/js/main{{ext}}.js');
});
</script>
<!-- // scrips da aplicacao -->

{{#if partials}}
{{> footer}}
{{> foot}}
{{/if}}