{{> head}}
{{> header}}

<!-- bibliotecas js -->
<script src="js/vendor.min.js"></script>
<!-- // bibliotecas js -->
<section id="pagnatura-page">
<i class="icon-leitor"></i>
<i class="icon-taxas-tarifas"></i>

	<!-- Header -->
	<section class="pagnatura-header-wrapper">
		<section class="pagnatura-header-content">		

			<!-- PagNatura | Leitor de cartões  -->
			<section class="pagnatura-header">
				<h1 class="header-title">PagNatura <span class="mini-divider"></span><span class="leitor">Leitor de cartões</span></h1>
				<p class="header-intro">
					Agora, você tem a opção de receber os pagamentos de seus clientes <br>
					de uma forma rápida e segura, em cartão de débito ou crédito. <br>
					<span class="bold">Adquira seu leitor de cartões e faça ótimas vendas!</span>
				</p>
				<section class="voce-conecta-label"></section>
				<section class="pagnatura-maquina"></section>
			</section>

			<!-- Conheça os benefícios -->
			<section class="pagnatura-beneficios">
				<h2>
					Conheça os benefícios
				</h2>
					<hr>
				<ul>
					<li><span class="card-icons"></span>Você vende parcelado e recebe de uma única vez</li>
					<li><span class="card-icons"></span>Mais formas de pagamento</li>
					<li><span class="card-icons"></span>Mais agilidade para as suas vendas</li>
					<li><span class="card-icons"></span>Você pode comprar seu próprio leitor</li>
					<li><span class="card-icons"></span>Mais conveniência para seus clientes</li>
				</ul>
			</section>			

			<!-- Cards -->
			<section class="pagnatura-cards">

				<!-- Como Funciona -->
				<article>
					<h2>Como funciona</h2>
					<hr>
					<p>
						Basta estar conectado(a) e <br>
						ter o aplicativo PagNatura <br>
						no seu celular.
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- Adiquirir um leitor -->
				<article>
					<h2>Adquirir um leitor</h2>
				

					<hr>
					<p>
						Compre aqui o seu leitor de <br>
						cartões e receba na sua casa.
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- Como configurar -->
				<article>
					<h2>Como configurar</h2>
					<hr>
					<p>
						Veja como configurar seu <br>
						leitor e seu celular para <br>
						começar a usar.
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- Como utilizar -->
				<article>
					<h2>Como utilizar</h2>
					<hr>
					<p>
						Assista ao vídeo e entenda <br>
						como usar o PagNatura no <br>
						seu dia a dia.
					</p>
					<a href="#">Saiba mais</a>
				</article>
				
				<!-- Taxas e Tarifas -->
				<article>
					<h2>Taxas e Tarifas</h2>
					<hr>
					<p>
						As melhores taxas do <br>
						mercado, sem mensalidades <br>
						ou taxa de adesão.
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- Gestão de Pagamentos -->
				<article>
					<h2>Gestão de pagamentos</h2>
					<hr>
					<p>
						Entenda como estornar e <br>
						gerenciar seus pagamentos.
					</p>
					<a href="#">Saiba mais</a>
				</article>

			</section>			
		</section>
	</section>

	<!-- Middle -->
	<section class="pagnatura-faixa">
		<section class="pagnatura-faixa-wrapper">
			<h2>
				Você já tem <br>
				um leitor do <br>
				PagSeguro?
			</h2>
			<p>
				Então pode continuar com seu leitor atual. <br>
				Você só precisa se cadastrar no PagNatura <br>
				e fazer o download do aplicativo no seu <br>
				celular ou tablet.
			</p>
			<section class="pagnatura-cloud">
				<a href="#">Clique aqui e faça seu cadastro</a>
			</section>
		</section>
	</section>
	
	<!-- Footer -->
	<section class="pagnatura-footer-wrapper">
		<section class="pagnatura-footer-content">
			
			<!-- PagNatura Atendimento -->
			<section class="pagnatura-atendimento">
				<h2>Central de Atendimento Natura (CAN)</h2>
				<span class="atendimento-tel">0800-7628872</span>
				<p class="horario-atendimento">
					Segunda a sexta das 08 às <br>
					22h e sábado das 09 às 20h
				</p>
			</section>

			<!-- PagNatura Dúvidas -->
			<section class="pagnatura-duvidas">
				<h2 class="duvidas-title">Dúvidas</h2>
				<span class="atendimento-tel">0800-7628872</span>
				<p class="horario-atendimento">
					Tire suas dúvidas sobre o leitor <br>
					com o autoatendimento da Natura.
					<a href="#">Clique aqui</a>
				</p>
			</section>
			
			<!-- PagNatura Mais informações -->
			<section class="pagnatura-mais-info">

				<!-- Veja também -->
				<section class="veja-tambem">
					<h3>Veja também</h3>
					<p>
						Conheça as outras ferramentas <br>
						que a Natura desenvolveu para <br>
						facilitar sua atividade de <br>
						Consultoria e aproximar você <br>
						cada vez mais de seus clientes.
					</p>
					<span class="divider"></span>
				</section>

				<!-- Chip Natura -->
				<article class="mais-info-box1">
					<h2>Chip Natura</h2>
					<p>				
						Uma parceria especial com a Claro <br>
						para deixar você conectado(a) o dia <br>
						todo: esse chip de celular dá acesso <br>
						a promoções e vantagens exclusivas <br>
						para agilizar seu dia a dia de <br>
						Consultor(a) Natura. 
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- App Pedidos Natura -->
				<article class="mais-info-box2">
					<h2>App Pedidos Natura</h2>
					<p>				
						Agora, você pode fazer e organizar <br>
						seus pedidos a qualquer hora e em <br>
						qualquer lugar, por meio de um <br>
						aplicativo no celular ou tablet.
					</p>
					<a href="#">Saiba mais</a>
				</article>

			</section>

		</section>
	</section>
	
</section>
<!-- scrips da aplicacao -->
<script type="text/javascript">
$(document).ready(function($) {
	loadjs('{{baseUrl}}/js/main{{ext}}.js');
});
</script>
<!-- // scrips da aplicacao -->

{{> footer}}
{{> foot}}