{{> head}}
{{> header}}

<!-- bibliotecas js -->
<script src="{{baseUrl}}/js/vendor.min.js"></script>
<!-- // bibliotecas js -->
<section id="pagnatura-page">

	<!-- Header -->
	<section class="pagnatura-header-wrapper">
		<section class="pagnatura-header-content">		

			<!-- PagNatura | Leitor de cartões  -->
			<section class="pagnatura-header">
				<h1 class="header-title">PagNatura <span class="mini-divider"></span><span class="leitor">Leitor de cartões</span></h1>
				<p class="header-intro">
					Agora, você tem a opção de receber os pagamentos de seus clientes <br>
					de uma forma rápida e segura, em cartão de débito ou crédito. <br>
					<span class="bold">Adquira seu leitor de cartões e faça ótimas vendas!</span>
				</p>
				<section class="voce-conecta-label"></section>
				<section class="pagnatura-maquina"></section>
			</section>

			<!-- Conheça os benefícios -->
			<section class="pagnatura-beneficios">
				<h2 class="beneficios-title">
					Conheça os benefícios
				</h2>
					<hr class="spacer">
					<img class="leitor-pag-natura" src="{{baseUrl}}/img/pag-seguro-natura-big.png" alt="">
				<ul class="beneficios-list">
					<li class="list-itens">
						<i class="icon-beneficios-pagamento"></i>
						<p class="beneficios-text">Mais formas <br>de pagamento</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-2x"></i>
						<p class="beneficios-text">Você vende<br> parcelado e recebe<br> de uma única vez</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-vendas"></i>
						<p class="beneficios-text">Mais agilidade <br>para as suas vendas</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-leitor"></i>
						<p class="beneficios-text">Você pode comprar<br> seu próprio leitor</p>
					</li>
					<li class="list-itens">
						<i class="icon-beneficios-clientes"></i>
						<p class="beneficios-text">Mais conveniência<br> para seus clientes</p>
					</li>
				</ul>
				<p class="btn-saiba-mais">
					<a href="#" class="btn-link">Saiba mais sobre o leitor</a>
				</p>
				<p class="btn-compre-agora">
					<a href="#" class="btn-link">Compre agora</a>					
				</p>
			</section>			
		</section>

		<!-- Cards -->
		<section class="pagnatura-cards">

			<div class="card-det">
				<div class="btn-close"></div>
				<header class="card-header">
					<div class="btn-arrow left"></div>
					<div class="btn-arrow right"></div>
					<div class="hd-content">
						titlo da sessao
					</div>
				</header>
				<div class="card-det-viewport">
					<div class="card-det-wrap">
						<div class="card-item" data-title="Como funciona" data-pgsize="500">
							conteudo como funciona
						</div>
						<div class="card-item" data-title="Adquirir um leitor" data-pgsize="550">
							conteudo adquirir um leitor
						</div>
						<div class="card-item" data-title="Como configurar" data-pgsize="600">
							conteudo como funciona
						</div>
						<div class="card-item" data-title="Como utilizar" data-pgsize="600">
							conteudo como utilizar
						</div>
						<div class="card-item" data-title="Taxas e tarifas" data-pgsize="600">
							conteudo taxas e tarifas
						</div>
						<div class="card-item" data-title="Gest&atilde;o de pagamentos" data-pgsize="600">
							conteudo Gest&atilde;o de pagamentos
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<p class="bulets">
						<span class="bulet actived"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
						<span class="bulet"></span>
					</p>
				</footer>
			</div>

			<div class="list-of-cards">
				<!-- Como Funciona -->
				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-smartphone"></i>
						</section>
						<h2 class="card-title">Como funciona</h2>
						<hr class="spacer">
						<p class="card-text">
							Basta estar conectado(a) e <br>
							ter o aplicativo PagNatura <br>
							no seu celular.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>

				</article>

				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-smartphone"></i>
						</section>
						<h2 class="card-title">Adquirir um leitor</h2>
						<hr class="spacer">
						<p class="card-text">
							Compre aqui o seu leitor de <br>
							cartões e receba na sua casa.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>

				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-smartphone-config"></i>
						</section>
						<h2 class="card-title">Como configurar</h2>
						<hr class="spacer">
						<p class="card-text">
							Veja como configurar seu <br>
							leitor e seu celular para <br>
							começar a usar.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>

				<!-- Como utilizar -->
				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-tv"></i>
						</section>
						<h2 class="card-title">Como utilizar</h2>
						<hr class="spacer">
						<p class="card-text">
							Assista ao vídeo e entenda <br>
							como usar o PagNatura no <br>
							seu dia a dia.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>
				
				<!-- Taxas e Tarifas -->
				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-taxa-tarifas"></i>
						</section>
						<h2 class="card-title">Taxas e Tarifas</h2>
						<hr class="spacer">
						<p class="card-text">
							As melhores taxas do <br>
							mercado, sem mensalidades <br>
							ou taxa de adesão.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>

				<!-- Gestão de Pagamentos -->
				<article class="card-wrapper">
					<section class="card-content">
						<section class="card-icon-holder">
							<i class="card-icon icon-gray-pagamentos"></i>
						</section>
						<h2 class="card-title">Gestão de pagamentos</h2>
						<hr class="spacer">
						<p class="card-text">
							Entenda como estornar e <br>
							gerenciar seus pagamentos.
						</p>
						<p class="saiba-mais-holder">
							<a class="btn-card-saiba-mais" href="#">
								<i class="icon-red-saiba-mais"></i>
								Saiba mais
							</a>
						</p>
					</section>
				</article>
			</div>

		</section>			
	</section>

	<!-- Middle -->
	<section class="pagnatura-faixa">
		<section class="pagnatura-faixa-wrapper">
			<h2 class="title">
				Você já tem <br>
				um leitor do <br>
				PagSeguro?
			</h2>
			<p class="text-leitor">
				Então pode continuar com seu leitor atual. <br>
				Você só precisa se cadastrar no PagNatura <br>
				e fazer o download do aplicativo no seu <br>
				celular ou tablet.
			</p>
			<section class="pagnatura-cloud cloud">
				<p class="btn-cadastro">
					<a class="btn-link" href="#">Clique aqui e faça seu cadastro</a>
				</p>				
			</section>
		</section>
	</section>
	
	<!-- Footer -->
	<section class="pagnatura-footer-wrapper">
		<section class="pagnatura-footer-content">
			
			<!-- PagNatura Atendimento -->
			<section class="pagnatura-atendimento">
				<i class="icon-red-atendimento"></i>
				<h2 class="atendimento-title">Central de Atendimento Natura (CAN)</h2>
				<span class="atendimento-tel">0800-7628872</span>
				<p class="horario-atendimento">
					<em>
						Segunda a sexta das 08 às <br>
					22h e sábado das 09 às 20h
				</em>
				</p>
			</section>

			<!-- PagNatura Dúvidas -->
			<section class="pagnatura-duvidas">
				<i class="icon-red-duvida"></i>
				<h2 class="duvidas-title">Dúvidas</h2>
				<p class="duvidas-text">
					Tire suas dúvidas sobre o leitor <br>
					com o autoatendimento da Natura.
				</p>	
				<a class="clique-aqui" href="#">Clique aqui</a>
			</section>
			
			<!-- PagNatura Mais informações -->
			<section class="pagnatura-mais-info">

				<!-- Veja também -->
				<section class="veja-tambem">
					<h3>Veja também</h3>
					<p>
						Conheça as outras ferramentas <br>
						que a Natura desenvolveu para <br>
						facilitar sua atividade de <br>
						Consultoria e aproximar você <br>
						cada vez mais de seus clientes.
					</p>
					<span class="divider"></span>
				</section>

				<!-- Chip Natura -->
				<article class="mais-info-box1">
					<h2>Chip Natura</h2>
					<p>				
						Uma parceria especial com a Claro <br>
						para deixar você conectado(a) o dia <br>
						todo: esse chip de celular dá acesso <br>
						a promoções e vantagens exclusivas <br>
						para agilizar seu dia a dia de <br>
						Consultor(a) Natura. 
					</p>
					<a href="#">Saiba mais</a>
				</article>

				<!-- App Pedidos Natura -->
				<article class="mais-info-box2">
					<h2>App Pedidos Natura</h2>
					<p>				
						Agora, você pode fazer e organizar <br>
						seus pedidos a qualquer hora e em <br>
						qualquer lugar, por meio de um <br>
						aplicativo no celular ou tablet.
					</p>
					<a href="#">Saiba mais</a>
				</article>

			</section>

		</section>
	</section>
	
</section>
<!-- scrips da aplicacao -->
<script type="text/javascript">
$(document).ready(function($) {
	loadjs('{{baseUrl}}/js/main{{ext}}.js');
});
</script>
<!-- // scrips da aplicacao -->

{{> footer}}
{{> foot}}