{{#if partials}}
{{> head}}
{{> header}}
{{/if}}

<link rel="stylesheet" href="css/index.css">

<!-- bibliotecas js -->
<script src="{{baseUrl}}/js/vendor.min.js"></script>
<!-- // bibliotecas js -->
<section id="voceconecta-page">

	<!-- Header -->
	<section class="pagnatura-header-wrapper">
		
		<!-- PagNatura Header  -->				
		<section class="pagnatura-header-content">		

			<section class="pagnatura-header">
				<h1 class="header-title">Você Conecta</h1>
				<p class="header-intro">
					Ofereça mais opções de pagamento, organize suas vendas direto <br>
					do seu tablet ou celular e fique sempre conectado(a).
				</p>
				<p class="header-intro">
					Chegou o Você Conecta um trio de ferramentas que vão facilitar <br>
					o dia a dia da consultoria e transformarão a sua relação com a <br>
					Natura e seus clientes.
				</p>
				<hr class="spacer">
				<section class="media-holder-video" data-name="video-home">
					<!-- Fill via Js -->
				</section>
				<p class="btn-saiba-mais">
					<a data-ga="voce-conecta|header|saiba-mais" href="#" class="btn-link">Saiba mais</a>
				</p>
			</section>
		</section>


	</section>

	<!-- Box Tools -->
		<section class="box-tools">	
			
			<!-- Header -->
			<section class="box-tools-header">
				<h2 class="title-box-tools">
					Conheça as ferramentas que vão agilizar suas vendas
				</h2>
				<p class="subtitle-box-tools">
					São 3 ferramentas diferentes feitas para valorizar seu trabalho!
				</p>
			</section>

			<hr class="spacer">

			<!-- Footer -->
			<section class="box-tools-footer pagnatura-mais-info">	
				<!-- Chip Natura Pré -->
				<article class="mais-info-box" data-trackscroll="voce-conecta|footer|scroll-end" data-trackscrollend="true">
					<div class="box-chip-natura"></div>
					<h2 class="mais-info-title">Chip Natura Pré</h2>
					<p class="mais-info-text">				
						Uma parceria especial com a Claro 
						para deixar você conectado(a) o dia 
						todo: esse chip de celular dá acesso 
						a promoções e vantagens exclusivas 
						para agilizar seu dia a dia de 
						Consultor(a) Natura. 
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|chip-natura" class="btn-link" href="/chip.html">Saiba mais</a>
					</p>
				</article>

				<!-- App Pedidos Natura -->
				<article class="mais-info-box">
					<div class="box-app-pedidos"></div>
					<h2 class="mais-info-title">Aplicativo Pedidos Natura</h2>
					<p class="mais-info-text">				
						Faça e organize seus pedidos a qualquer hora e em qualquer lugar
						por meio desse aplicativo para
						celular ou tablet.
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="/aplicativo.html">Saiba mais</a>
					</p>
				</article>

				<!-- PagSeguro -->
				<article class="mais-info-box">
					<div class="box-chip-leitor"></div>
					<h2 class="mais-info-title">Aplicativo Pedidos Natura</h2>
					<p class="mais-info-text">				
						Faça e organize seus pedidos a qualquer hora e em qualquer lugar
						por meio desse aplicativo para
						celular ou tablet.
					</p>
					<p class="btn-saiba-mais-info">
						<a data-ga="voce-conecta|corpo|app-pedidos" class="btn-link" href="/pagnatura.html">Saiba mais</a>
					</p>
				</article>
			</section>
		</section>

</section>

<!-- scrips da aplicacao -->
<script type="text/javascript">
$(document).ready(function($) {
	loadjs('{{baseUrl}}/js/main.js');
});
</script>
<!-- // scrips da aplicacao -->

{{#if partials}}
{{> footer}}
{{> foot}}
{{/if}}