<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Parcelamento</title>
	{{#if partials}}
	{{> tag_ga}}
	{{/if}}
	<script>
		window.print();
	</script>
</head>
<body>
	<img src="{{baseUrl}}/img/parcelas.jpg" alt="">
</body>
</html>
