/**
 Mixin que seta um botao
*/
.setBtn(@color, @txtcolor:#ffffff, @w:auto, @h:auto, @fontFamily: @mainFontLight ) {
	display: inline-block;
	text-align: center;
	.size(@w, @h);
	.btn-link {
		display: block; 
		text-transform: uppercase;
		padding: 7px 12px;
		font-size: 16px;
		background-color: @color;
		color: @txtcolor;
		font-family: @fontFamily;
		text-decoration: none;
		.border-radius(5px);
		.transition(all 350ms linear);
		&:hover {
			background-color: darken(@color, 15%);
		};
		&:before {
			content: "";
			margin-right: 5px;
			.setIconArrowRight(5px, @txtcolor);
		}
	}
	&.double-line {
		.btn-link {
			position: relative;
			padding: 12px 30px 12px 35px;
			line-height: 19px;
			&:before {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 20px;
			}
		}
	}
}

.btn-def {
	.setBtn(@white);
}
.btn-saiba-mais{
	.setBtn(@white, @red_light, @fontFamily: @mainFont);
	.btn-link{
		.border-radius(10px);
		font-size: 14px;
	}
	&:hover{
		.btn-link{
			background-color: @white;
		}
	};
}
.btn-compre-agora{
	.setBtn(@red_light, @white, @fontFamily: @mainFont);
	.btn-link{
		.border-radius(10px);
		font-size: 14px;
	}
	&:hover{
		.btn-link{
			/*background-color: blue;*/
		}
	};
}
.btn-silver {
	.setBtn(@gray_dark);
}