/**
 Mixin que seta um botao
*/
.setBtn(@color, @txtcolor:#ffffff, @w:auto, @h:auto, @fontFamily: @mainFontLight ) {
	display: inline-block;
	text-align: center;
	.size(@w, @h);
	.btn-link {
		display: block; 
		text-transform: uppercase;
		padding: 7px 12px;
		font-size: 16px;
		background-color: @color;
		color: @txtcolor;
		font-family: @fontFamily;
		text-decoration: none;
		.border-radius(5px);
		.transition(all 350ms linear);
		&:hover {
			background-color: darken(@color, 15%);
		};
		&:before {
			content: "";
			margin-right: 5px;
			.setIconArrowRight(5px, @txtcolor);
		}
	}
	&.double-line {
		.btn-link {
			position: relative;
			padding: 12px 30px 12px 35px;
			line-height: 19px;
			&:before {
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 20px;
			}
		}
	}
}

.btn-def {
	.setBtn(@white);
}
.btn-saiba-mais,
.btn-li-aceito{
	.setBtn(@white, @red_light, @fontFamily: @mainFont);
	.btn-link{
		.inner-shadow(0, -10px, 30px, 1px);
		.border-radius(10px);
		border: 2px solid #d7d7d7;
		font-size: 14px;
		padding: 9px 17px;
	}
	&:hover{
		.btn-link{
			background-color: @white;
		}
	};
}
.btn-compre-agora,
.btn-imprimir-tabela,
.btn-saiba-mais-info,
.btn-nao-aceito{
	.setBtn(@red_light, @white, @fontFamily: @mainFont);
	.btn-link{
		.border-radius(10px);
		font-size: 14px;
		padding: 9px 17px;
		border: 1px solid #d95e4a;
		.gradient (@startColor: #cb4d38, @endColor: #d9604d)
	}
	&:hover{
		.btn-link{
			.gradient (@startColor: #d9604d, @endColor: #cb4d38);
			
		}
	};
}
.btn-google-play{
	.icon-sprite;
	.size(142px, 46px);
	.grid-position(0, 62);	
}
.btn-apple-store{
	.icon-sprite;
	.size(142px, 46px);
	.grid-position(0, 66);	
}
.btn-cards-orange{
	font-size: 14px;
	font-family: @mainFont;
	color: @orange;
	text-decoration: none;
	text-transform: uppercase;
}
.btn-clique-aqui{
	font-size: 14px;
	font-family: @mainFont;
	color: @red_light;
	text-decoration: none;
	text-transform: uppercase;
}
.btn-cadastro{
	.setBtn(#f76c03, @white, @fontFamily: @mainFont);
	.btn-link{		
		padding: 0;
	}
}