.icon {
	display: inline-block;
}

.icon-sprite {
	.icon;
	background: url("@{imgPath}/sprite.png") no-repeat;
}

/* Icons cinza*/

.icon-gray-leitor{
	.icon-sprite;
	.size(34px, 62px);
	.grid-position(0, 0);	
}
.icon-gray-pagamentos{
	.icon-sprite;
	.size(46px, 41px);
	.grid-position(3, 0);		
}
.icon-gray-smartphone{
	.icon-sprite;
	.size(29px, 51px);
	.grid-position(6, 0);
}
.icon-gray-tv{
	.icon-sprite; 
	.size(41px, 38px);
	.grid-position(8, 0);
} 
.icon-gray-taxa-tarifas{
	.icon-sprite;
	.size(34px, 45px);
	.grid-position(11, 0);		
}
.icon-gray-smartphone-config{
	.icon-sprite;
	.size(43px, 51px);
	.grid-position(14, 0);		
}
.icon-gray-wifi{
	.icon-sprite;
	.size(61px, 42px);
	.grid-position(17, 0);		
}
.icon-gray-minus{
	.icon-sprite;
	.size(48px, 48px);
	.grid-position(13, 9);		
}
.icon-gray-equal{
	.icon-sprite;
	.size(48px, 48px);
	.grid-position(17, 9);		
}

/* Icons vermelhos */

.icon-red-duvida{
	.icon-sprite;
	.size(61px, 68px);
	.grid-position(0 , 9);
}
.icon-red-atendimento{
	.icon-sprite;
	.size(61px, 68px);
	.grid-position(4, 9);
}
.icon-red-transporte{
	.icon-sprite;
	.size(61px, 68px);
	.grid-position(8, 9);
}
.icon-red-saiba-mais{
	.icon-sprite;
	.size(50px, 50px);
	.grid-position(13, 13);
}

/* Icons Benefícios */

.icon-beneficios-2x{
	.icon-sprite;
	.size(55px, 70px);
	.grid-position(0, 4);	
}
.icon-beneficios-pagamento{
	.icon-sprite;
	.size(55px, 70px);
	.grid-position(4, 4);	
}
.icon-beneficios-vendas{
	.icon-sprite;
	.size(55px, 70px);
	.grid-position(8, 4);	
}
.icon-beneficios-leitor{
	.icon-sprite;
	.size(55px, 70px);
	.grid-position(12, 4);	
}
.icon-beneficios-clientes{
	.icon-sprite;
	.size(55px, 70px);
	.grid-position(16, 4);	
}

/* Icons bandeira cartões */

.icon-cartao-visa{
	.icon-sprite;
	.size(51px, 17px);
	.grid-position(28, 0);	
}
.icon-cartao-mastercard{
	.icon-sprite;
	.size(52px, 32px);
	.grid-position(28, 0);		
}
.icon-cartao-caral{
	.icon-sprite;
	.size(29px, 31 px);
	.grid-position(28, 0);	
}
.icon-cartao-maestro{
	.icon-sprite;
	.size(54px, 32px);
	.grid-position(28, 0);	
}
.icon-cartao-banri{
	.icon-sprite;
	.size(32px, 31px);
	.grid-position(28, 0);	
}

/* Icons arrows*/

.icon-stepback-disabled{
	.icon-sprite;
	.size(36px, 46px);
	.grid-position(20, 4);	
}
.icon-stepback{
	.icon-sprite;
	.size(36px, 46px);
	.grid-position(23, 4);	
}
.icon-stepnext{
	.icon-sprite;
	.size(36px, 46px);
	.grid-position(26, 4);	
}
.icon-stepnext-disabled{
	.icon-sprite;
	.size(36px, 46px);
	.grid-position(29, 0);	
}

/* Bullets */

.bullet{
	.icon-sprite;
	.size(8px, 8px);
	.grid-position(21, 9);	
}
.bullet-disabled{
	.icon-sprite;
	.size(8px, 8px);
	.grid-position(22, 0);	
}

/* Images */

.label-vc-conecta{
	.icon-sprite;
	.size(193px, 68px);
	.grid-position(0, 15);	
}
.cloud{
	.icon-sprite;
	.size(336px, 226px);
	.grid-position(0, 22);
}
.big-gray-arrow{
	.icon-sprite;
	.size(358px, 257px);
	.grid-position(0, 38);
}
.mini-divider{
	.icon-sprite;
	.size(2px, 42px) ;
	.grid-position(22, 0);	
}
.divider{
	.icon-sprite;
	.size(27px, 350px) ;
	.grid-position(23, 31);
}

/**
 Setas
*/
.setIconArrowLeft(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-top: @size solid transparent;
	border-bottom: @size solid transparent;
	border-right: @size + @addSize solid @color;
}
.setIconArrowRight(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-top: @size solid transparent;
	border-bottom: @size solid transparent;
	border-left: @size + @addSize solid @color;
}
.setIconArrowBottom(@size, @color, @addSize: 0px) {
	.icon;
	.size(0, 0);
	border-left: @size solid transparent;
	border-right: @size solid transparent;
	border-top: @size + @addSize solid @color;
}
.icon-arrow-right {
	.setIconArrowRight(5px, #ffffff);
}
.icon-arrow-down {
	.setIconArrowBottom(7px, #ffffff, 3px);
}
.icon-arrow-slin {
	.icon-sprite;
	.size(32px, 57px);
	&.left {
		.grid-position(0, 9);
	}
	&.right {
		.grid-position(2, 9);
	}
}
.icon-arrow-ball {
	.icon-sprite;
	.size(39px, 39px);
	&.left {
		.grid-position(1, 3);
	}
	&.right {
		.grid-position(4, 3);
	}
}

.icon-arrow-down-mult {
	.icon-sprite;
	.size(12px, 48px);
	.grid-position(0, 3);
}

.icon-ball-arr-left {
	.icon-sprite;
	.size(63px, 56px);
	.grid-position(5, 9);	
	position: relative;
	.icb-text {
		display: block;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-family: @mainFontBold;
		font-size: 12px;
		position: absolute;
		left: 11px;
		right: 0;
		top: 19px;
	}
}

.icon-check-def {
	.icon-sprite;
	.size(16px, 16px);
	.grid-position(6, 0);
}

.icon-close-small {
	.icon-sprite;
	.size(20px, 20px);
	.grid-position(7, 0);
}

.icon-quad_small {
	.icon-sprite;
	.size(35px, 35px);
}

.icon-hard {
	.icon-quad_small;
	.grid-position(0, 0);
}

.icon-trophy {
	.icon-quad_small;
	.grid-position(3, 0);	
}

.icon-sq(@x, @y) {
	.icon-sprite;
	.size(112px, 112px);
	.grid-position(@x, @y);
}
.icon-sq-planet {
	.icon-sq(28, 7);
}
.icon-sq-ticket {
	.icon-sq(35, 7);
}
.icon-sq-hand {
	.icon-sq(42, 7);
}
.icon-sq-check {
	.icon-sq(28, 14);
}
.icon-sq-file {
	.icon-sq(35, 14);
}
.icon-sq-transaction {
	.icon-sq(42, 14);
}
.icon-sq-cardmachine {
	.icon-sq(28, 21);
}
.icon-sq-cel {
	.icon-sq(35, 21);
}
.icon-sq-tiket-2 {
	.icon-sq(42, 21);
}
.icon-sq-emailarr {
	.icon-sq(28, 28);
}
.icon-sq-saque {
	.icon-sq(35, 28);	
}
.icon-sq-personaldata {
	.icon-sq(42, 28);		
}
.icon-sq-transaction-2 {
	.icon-sq(28, 35);
}
.icon-sq-cal {
	.icon-sq(35, 35);
}