@fontPath: "../fonts";
@imgPath: "/img";

/** Colors */
@brown: #5c554e;
@brownlighten: #c9c1bc;
@brownlighten2: #d9d0c9;
@brownlighten3: #f6ebe4;
@brownlighten4: #d3c4ba;
@brownlighten5: #c6b8ac;
@secColor: #f76c03;


@mainFont: 'gill_sans';
@mainFontBold: 'gill_sans_std_bold';
@secFontBold: 'gill_sans_bold';
@mainFontLight: 'gill_sans_light';

/** variaveis apenas para uso do conteudo estatico de marcacao */
@imgPathFixed: '/img_static';
@tf_color1: #94897d;
@tf_color2: #b7a99a;
@tf_color3: #848484;
@tf_color4: yellow;
@red_light: #ca4b36;
@gray_dark: #5a5a5a;
@gray_light: #545454;