@import './base';
@import './home/pagnatura-header-wrapper';

#pagnatura-page{
	background: url('../img/bg-pagnatura.png') #ffffff no-repeat center top;	
	width: 100%;
	height: auto;
	display: block;
	font-family: @mainFont;
	color: @red_light;
}

/** importar os arquivos das sessoes conforme exemplo abaixo
@import './home/highlight';
@import './home/content';
*/
